/*A01328937	Luis Francisco Flores Romero*/
/*A01324276	Rafael Antonio Comonfort Viveros*/
/*24.oct.2018*/

/*Set dark document background*/
html {
	padding: 0;
	border: none;
	margin: 0;
	
	background-color: rgb(50, 50, 50);
}

/*Make the canvas use the whole viewport*/
body {
	padding: 0;
	border: none;
	margin: 0;
}

canvas {
	padding: 0;
	border: none;
	margin: 0;
	
	width: 100%;
	height: 100%;
}